@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}


<link rel="stylesheet" href="~/css/floating.css" />
<script src="~/js/index.js"></script>

<body style="text-align: center">
    <h1 class="display-4">Welcome</h1>
    <img class="mb-4" src="~/media/estacion.jfif" style="border-radius: 100%" alt="" width="500" height="500">

    
</body>
