@page
@model FrontEnd.Pages.IngReporteModel

@{
    ViewData["Title"] = "Ingreso de Reporte";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="" style="font-weight: 300">@ViewData["Title"]</h1>
    <p class="lead">Consultar por Estacion</p>
</div>

<form method="POST" action="" style="display: grid; gap: 10px; max-width: 500px; margin: auto">
    <p><label>INGRESE EL CODIGO DE LA ESTACION</label> <input asp-for="@Model.estacion.Codigo" id="identEst" class="form-control" placeholder="CÓDIGO ESTACION" ></p>
      
      
    
    <input type="submit"class="w-100 btn btn-lg btn-outline-primary" value="Consultar"asp-page-handler="Consultar">
    <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./EstMet">Regresar</a>
</form>
<h1>Estacion Id: </h1>
<h1>@Model.numero</h1>