@page
@model FrontEnd.Pages.ConsultarDatosMetModel

@{
    ViewData["Title"] = "Consultar Datos Meteorologicos";
}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="" style="font-weight: 300">@ViewData["Title"]</h1>
    <p class="lead">Consulta los Datos Meteorologicos</p>
</div>

<form method="POST" action="" style="display: grid; gap: 10px; max-width: 500px; margin: auto">
    <p><label>INGRESE ID DEL DATO</label> <input type="text" id="iddato" class="form-control" name="iddato"></p>
    <input type="submit"class="w-100 btn btn-lg btn-outline-primary" value="Consultar">
    
    <p><label> FECHA </label> <input type="datetime" id="fechaDato" class="form-control" name="datometeorologico.FechaDato"></p>
    <p><label> TEMPERATURA </label> <input type="text" id="tipoDato" class="form-control" name="datometeorologico.TipoDato"></p>
    <p><label> PLUVIOSIDAD </label> <input type="text" id="tipoDato" class="form-control" name="datometeorologico.TipoDato"></p>
    <p><label> RADIACION </label> <input type="text" id="tipoDato" class="form-control" name="datometeorologico.TipoDato"></p>
    <p><label> HUMEDAD </label> <input type="text" id="tipoDato" class="form-control" name="datometeorologico.TipoDato"></p>
     
    
    
    
    
    <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./EstMet">Regresar</a>
</form>