@page
@model FrontEnd.Pages.EstMetModel
@{
    ViewData["Title"] = "Estación Meteorológica";
}


<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">@ViewData["Title"]</h1>
            <p class="fs-5 text-muted">Visualización y monitoreo del estado de las Estaciones Meteorológicas</p>
        </div>
    </header>

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Crear Estación</h4>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-shop-window" style="font-size: 50px"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Ingresa los datos de una</li>
                            <li>Estación Meteorológica</li>
                            <li>nueva</li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-outline-primary" asp-area="" asp-page="./IngrEstMet">Comenzar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Editar Estación</h4>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-sliders" style="font-size: 50px"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Edita los datos de una</li>
                            <li>Estación Meteorológica</li>
                            <li>existente</li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./EditEstMet">Actualizar</a>
                    </div>
                </div>
            </div>
             <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Consultar</h4>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-sliders" style="font-size: 50px"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Consulta los datos de una</li>
                            <li>Estación Meteorológica</li>
                            <li>existente</li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./ConsultarEst">Actualizar</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Ingresar Datos</h4>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-braces" style="font-size: 50px"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Ingresa los Datos Meteorológicos:</li>
                            <li>Temperatura</li>
                            <li>Presión Atmosférica</li>
                            <li>más..</li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./IngrDatosMet">Ingresar</a>
                    </div>
                </div>
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                    <div class="card-header py-3 text-white bg-primary border-primary">
                        <h4 class="my-0 fw-normal">Consultar Datos</h4>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-braces" style="font-size: 50px"></i>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Consulta los Datos Meteorológicos segun el codigo de la estacion:</li>
                            <li>Temperatura</li>
                            <li>Presión Atmosférica</li>
                            <li>más..</li>
                        </ul>
                        <a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./ConsultarDatosMet">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>



<!--
<section id="contenido">
    <h2>titulo parrafo 1</h2>
    <form>
        <p>Ingrese Nombre: <input type="text" name="nombre"></p>
        <p>Ingrese Contraseña: <input type="password" name="clave"></p>
        <p><input type="submit" value="guardar"></p>
    </form>
</section>
<section id="contenido2">
    <h2>titulo parrafo 2</h2>
    <form>
        <p><input type="radio" name="grupo1" value="opcion1">op1</p>
        <p><input type="radio" name="grupo1" value="opcion2">op2</p>
        <p><input type="radio" name="grupo1" value="opcion3">op3</p>
        <p><input type="radio" name="grupo1" value="opcion4">op4</p>
    </form>
    <form>
        <p><input type="checkbox" value="opcion1">op1</p>
        <p><input type="checkbox" value="opcion2">op2</p>
        <p><input type="checkbox" value="opcion3">op3</p>
        <p><input type="checkbox" value="opcion4">op4</p>
    </form>
</section>
<aside>
    <h2>informacion</h2>
    <form>
      <input type="datetime-local" name="fechahora">
    </form>
</aside> -->