@page
@model FrontEnd.Pages.IngrDatosMetModel
@{
    ViewData["Title"] = "Ingresar Datos";
}
<h1>@ViewData["Title"]</h1>

<a type="button" class="w-100 btn btn-lg btn-primary" asp-area="" asp-page="./EstMet">Regresar</a>