@page
@model FrontEnd.Pages.TecnMantModel
@{
}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Pricing example · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/pricing/">

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
  </head>
  <body>
    

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">TÉCNICO DE MANTENIMIENTO</h1>
  <p class="lead">Aqui podras registrar los reportes de mantenimiento correctivo, preventivo o instalacion</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">INGRESE EL CODIGO DE LA ESTACION</h4>
      </div>
      <div class="card-body">
        
        <ul class="list-unstyled mt-3 mb-4">
          <form>
            <p>CÓDIGO: <input type="text" name="nombre"></p>
            
            
            </form>
        </ul>
        <a class="btn-primary" asp-area="" asp-page="./IngReporte"> ENVIAR</a>
      </div>
    </div>
    
  </div>

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      
      
      
      
    </div>
  </footer>
</div>
</body>
</html>
