@page
@model FrontEnd.Pages.EstMetModel
@{
}
<h1>Estación Meteorológica</h1>
<section id="contenido">
    <h2>titulo parrafo 1</h2>
    <form>
        <p>Ingrese Nombre: <input type="text" name="nombre"></p>
        <p>Ingrese Contraseña: <input type="password" name="clave"></p>
        <p><input type="submit" value="guardar"></p>
    </form>
</section>
<section id="contenido2">
    <h2>titulo parrafo 2</h2>
    <form>
        <p><input type="radio" name="grupo1" value="opcion1">op1</p>
        <p><input type="radio" name="grupo1" value="opcion2">op2</p>
        <p><input type="radio" name="grupo1" value="opcion3">op3</p>
        <p><input type="radio" name="grupo1" value="opcion4">op4</p>
    </form>
    <form>
        <p><input type="checkbox" value="opcion1">op1</p>
        <p><input type="checkbox" value="opcion2">op2</p>
        <p><input type="checkbox" value="opcion3">op3</p>
        <p><input type="checkbox" value="opcion4">op4</p>
    </form>
</section>
<aside>
    <h2>informacion</h2>
    <form>
      <input type="datetime-local" name="fechahora">
    </form>
</aside>