@page
@model FrontEnd.Pages.IngresarDatosMetModel
@{
}

<h2>INGRESO DE DATOS METEOROLOGICOS </h2>
<form method="POST">
    <p>INGRESE CODIGO DE LA ESTACION <input type="text" id="identEst" name="identEst"></p>
    <p>INGRESE ID <input type="text" id="identDato" name="identdato"></p>
    <p>INGRESE VALOR <input type="text" id="valorDato" name="ValorDato"></p>
    <p> FECHA <input type="datetime" id="fechaDato" name="fechaDato"></p>
    <p> TEMPERATURA <input type="text" id="temperaturaDato" name="temperaturaDato"></p>
    <p> HUMEDAD <input type="text" id="humedadDato" name="humedadDato"></p>
    <p> VELOCIDAD DEL VIENTO <input type="text" id="velocidadDato" name="velocidadDato"></p>
    <p> PLUVIOSIDAD <input type="text" id="pluviosidadDato" name="pluviosidadDato"></p>
    <p> RADIACION SOLAR <input type="text" id="radiacionDato" name="radiacionDato"></p>
    <input type="submit">
</form>

